<!DOCTYPE html>
<html>
<head>
    <title>About Me and My Shows</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
    <h1> IT'S ALL ABOUT ME </h1>
    {{{ body }}}
    <h1> AND NOW IT'S OVER </h1>
</body>
</html>