
<main>
	
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donuts}} 

			<div class="donut-container">

				<<<< DONUT IMAGE HERE >>>>
				<img src="{{{this.image}}}"/>

				<h3 a href='donuts/show'{{this.name}}  </h3>
<<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>>
				<p>$ {{donuts.price}} each </p>

			</div>

		<<<< END THE LOOP >>>>

{{/each}}
</main>
